<div [formGroup]="addressGroup">
  <div class="form-group col-xs-6">
      <label>street</label>
      <input type="text" class="form-control" formControlName="street">
      <small *ngIf="!addressGroup.controls['street'].valid && addressGroup.controls['street'].touched" class="text-danger">
          Street is required
      </small>
  </div>
  <div class="form-group col-xs-6">
      <label>postcode</label>
      <input type="text" class="form-control" formControlName="postcode">
  </div>
</div>
