<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
  
  <div class="form-group">
    <label>Name</label>
    <input type="text" formControlName="name">
    <!--display error message if name is not valid-->
    <small *ngIf="!myForm.controls.name.valid" class="text-danger">
      Name is required (minimum 5 characters).
    </small>
  </div>

  <div formArrayName="addresses">
    <div *ngFor="let addr of myForm.controls; let i=index">

    </div>
  </div>
</form>
<!-- <app-button></app-button> -->
<!-- <div class="column">
  <h4>Enter & Leave</h4>
  <p>Enter and leave animations using the void state.</p>
  <app-hero-basic [heros]="heros"></app-hero-basic>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Animations</h1>
      <button class="btn btn-primary" (click)="onAnimate()" >Animate!</button>
      <button class="btn btn-primary">Shrink!</button>
      <hr>
      <div
        style="width: 100px; height: 100px"
        [@divState]="state"
      >
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" #input>
      <button class="btn btn-primary" (click)="onAdd(input.value)">Add Item!</button>
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list">
          {{ item }}
        </li>
      </ul>
    </div>
</div> -->